:root {
    /* Font Combination */
--font-family-header: font-family: 'Big Shoulders Display', sans-serif;
--font-family-para: font-family: 'Lexend Deca', sans-serif;

/* ## Colors */
/* ### Primary */
--color-primary-300: hsl(31, 77%, 52%);
--color-primary-500: hsl(184, 100%, 22%);
--color-primary-700: hsl(179, 100%, 13%);
/* ### Neutral */
--color-neutral-100: hsla(0, 0%, 100%, 0.75); /* (paragraphs) */
--color-neutral-300: hsl(0, 0%, 95%); /* (background, headings, buttons) */
}



*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-neutral-100);
    background-color: var(--color-neutral-300);
    font-family: 'Lexend Deca', sans-serif;
}

main {
    padding: 4rem 2rem;
}

.cards {
   display: grid;
   grid-template-columns: 1fr;
   border-radius: .5rem;
   overflow: hidden;
   max-width: 1024px; 
}

.card {
    padding: 2.5rem 3rem;
}

.card-1 {
    background-color: var(--color-primary-300);
}

.card-2 {
    background-color: var(--color-primary-500);
}
.card-3 {
    background-color: var(--color-primary-700);
}

h2 {
    color: var(--color-neutral-300);
    font-size: 2rem;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
}

p {
    font-size: 1rem;
    line-height: 2;
    padding-bottom: 1.5rem;
}

a {
    background-color: var(--color-neutral-300);
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 1.5rem;
    border: 0.1rem solid  var(--color-neutral-300);
    transition: all 300ms ease-in-out ;
}


.card-1 a {
    color: var(--color-primary-300);
}

  
.card-2 a {
    color: var(--color-primary-500);
}


.card-3 a {
    color: var(--color-primary-700);
}

a:hover {
    color: var(--color-neutral-300);
    background-color: transparent;
    
}

@media (min-width: 1024px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    p {
        padding-bottom: 4rem;
    }
    
}